@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
    font-family: "Inter", sans-serif;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    display: flex;
    justify-content: center;
    align-items: center;
}

#square {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
}

#square div {
    background-color: rgba(255, 255, 255, 0.75);
}

#square div:first-child {
    border-top-left-radius: 0.5rem;
}

#square div:last-child {
    border-bottom-right-radius: 0.5rem;
}